.item-order-description{
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 788px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(213, 217, 217);
    padding: 20px 25px;
    background-color: rgb(240, 242, 242);
   }
   .left-side{
     display: flex;
     flex-direction: column;
   }
   .track-package-button{
   color: rgb(33, 33, 33);
   background: white;
   border: 1px solid rgb(213, 217, 217);
   border-radius: 8px;
   cursor: pointer;
   box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
   width: 200px;
   margin-bottom: 10px;
   padding: 8px;
   }
   .item-order{
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     gap: 20px;
     background-color: white;
     box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
     padding: 20px 25px;
     border: 1px solid rgb(213, 217, 217);
     align-items: center;
   }
   .item-orders{
   width: 788px;
   }
   .discription{
     display: flex;
     flex-direction: column;
     gap: 5px;
     padding-bottom: 10px;
   }