.topbar{
    display: flex;
    background-color: rgba(248,85,6,255);
    height: 117px;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 50px;
}

.logo{
    height: 40px;
    width: 127px;
    display: flex;
    background-color: rgba(248,85,6,255);
    margin-right: 70px;
    margin-top: 0px;
    border: none;
}
.cart{
    height: 30px;
    width:   30px;
    display: flex;
    background-color: rgba(248,85,6,255);
    margin-left: 20px;
    border: none;
}
.Search-bar{
    width: 688px;
    border: none;
    height: 45px;

}
.display{
    width: 988px;
    height: 344px;
    position: relative;

    
}
.images{
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior:smooth;
    scrollbar-width:none;
    z-index: 2;
    /* scrollbar-width: none; */
   
}
.display:hover .images{
    z-index: 0;
}
/* .images::-webkit-scrollbar{
    display: none;
} */
.display:hover .right,
.display:hover .left{
    opacity: 1;
}
.right,
.left
{
   width: 24px;
   height: 24px;
   display: none;
   display: flex;
   border: 50%;
   cursor: pointer;
   position: absolute;
   top: 45%;
   background-color: transparent;
   border: none;
   z-index: 1;
   opacity: 0;
   transition: opacity 0.3s;
}
.left{
    left: 10px;
}
.right{
    right: 10px;
}
.middlerow{
    margin-top: 130px;
    display: flex;
    justify-content: center;
}
.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.3s;
  }
  .dot.active {
    background-color: #555;
  }
  .products{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

  }
  .product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 10px 25px 10px;
    margin-right: 10px;
    border: 1px;
  }
  .product-image {
    height: 180px;
    display: flex;
    margin-bottom: 20px;
  }
  .product-discription {
    margin-bottom: 5px;
  }
  .product-price{
    font: 700;
    margin-bottom: 10px;
  }
  .product-rating{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .product-rating-image{
    width: 100px;
    margin-right: 5px;
  }
  .addtocart-button{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 15px;
    color: black;
    background-color: yellow;
    display: flex;
    justify-content: center;
  }
.status{
    color: green;
    opacity: 0;
}
.product-quantity-selector{
    margin-bottom: 17px;
}